!!! html
html
	head
		title User Administration
		include mixin/header
		script(type='text/javascript', src='/javascripts/admin.js')
	body
		h1 User Administration
		table
			thead
				tr
					th Name
					th Email
			tbody
				tr
					td John Smith
					td jsmith@me.com
		div(id='poo')

		include mixin/footer